@import "../../build/css/variables.css"; /* Using a string */

.ds-hd-nav,  .ds-ft-footer  {
    background: var(--sd-main-gradient);
}
.dash-rec, .dash-castudy{
    overflow: hidden;
}
.dash-recimg, .dash-explore .dash-conimg > img{
    border-radius: 0;
}
.ds-btn-primary, .btn-outline, .dash-cardtype, .dash-rec, .dash-castudy, .dash-rew-rec-award{
    border-radius: var(--sd-ds-box-radius-small);
}

.ds-autoComplete_Emp .autu_Btn{
    border-radius: 0 var(--sd-ds-box-radius-small) var(--sd-ds-box-radius-small) 0;
}
.dash-rew-rec-award, .ds-btn-primary{
    background-color: var(--sd-ds-purple-primary) !important;
}
.dash-cardtype.cardType-1:hover .card-link, .arrow-btn{
    color: var(--sd-ds-purple-primary); 
}
/* #feedbackModal .modal-title, .rating-stars ul > li.star.selected > i, .ds-hd-role>li>a:hover, .ds-hd-role>li.active a, .ds-hd-role>li>a:hover>i, .ds-hd-role>li.active a>i, .ds-hd-role>li>a:focus, .ds-hd-role>li>a:focus>i, .ds-hd-logout:hover, .ds-hd-logout:focus{
    color: var(--sd-ds-purple-primary);
} */

.glb-btn .btn-primary, #feedbackModal .btn{
    border-color: var(--sd-ds-purple-primary);
    background-color: var(--sd-ds-purple-primary) !important;
    border-radius: var(--sd-btn-radius);
    font-size: var(--sd-ds-button-font-size);
}
.glb-btn .btn-secondary {
    color: var( --sd-ds-button-outline);
    border-color: var( --sd-ds-button-outline);
    border-radius: var(--sd-btn-radius);
    font-size: var(--sd-ds-button-font-size);
}